body {
  background-color: #2b4162;
  font-family: "Assistant", sans-serif;
  text-align: center;
  margin: 0;
  padding: 15px;
}
#generate-pw {
  font-family: "Assistant", sans-serif;
  /* padding: 10px 10px; */
  font-size: 15px;
  border-radius: 5px;
  border: 1px black solid;
  background-color: #64426a;
  padding: 15px;
  font-style: bold;
  color: whitesmoke;
}
.password-button {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 60px;
  height: 6.5%;
  color: whitesmoke;
}
h1,
h2 {
  font-size: 35px;
  color: #c4ae88;
}
#never {
  font-size: 25px;
  color: #131211;
  font-style: bold;
  color: #c4ae88;
}
.generated-pw-button {
  background-color: #385f71;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  border: 1px black solid;
}

.save-buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px 60px;
}
#save1 {
  font-family: "Assistant", sans-serif;
  border-radius: 5px;
  border: none;
  background-color: #64426a;
  padding: 15px;
  font-style: bold;
  color: whitesmoke;
  border: 1px black solid;
}
#save2 {
  font-family: "Assistant", sans-serif;
  border-radius: 5px;
  border: none;
  background-color: #64426a;
  padding: 15px;
  font-style: bold;
  color: whitesmoke;
  border: 1px black solid;
}
#card {
  border: 5px wheat solid;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}
